introducción-xml/Noticias.dtd

<!ELEMENT noticias (noticia+)>
<!ELEMENT noticia (titulo,autor*,url,texto,foto?)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT url (#PCDATA)>
<!ELEMENT texto (#PCDATA)>
<!ELEMENT foto (#PCDATA)>
<!ATTLIST noticia 
 dia  CDATA #REQUIRED
 mes  CDATA #REQUIRED
 anyo CDATA #REQUIRED
 >
<!ATTLIST url direccion CDATA #REQUIRED


>